[2017-07-10 17:40] kristinashu opened #1 "Write a design QA checklist"
Based on work done in this implementation ticket https://github.com/mozilla/internet-health-report/issues/31 We will be able to start QA very soon.

Starting a check list in [this doc](https://docs.google.com/a/mozilla.com/document/d/1OTudHRgd1xR2uvlM5iVv-CyuzZbheIMrQmCSStJxtmQ/edit?usp=sharing). Once it's finalized, I will put list into a ticket.

[2017-07-10 18:55] kristinashu commented on #1
@hannahkane would love to get your feedback on this!

[2017-07-10 21:07] hannahkane commented on #1
List seems super thorough. This could be a great template for other projects! The only big category of things I can think of that might be missing is a section specifically on localization.

[2017-07-10 21:26] kristinashu opened #2 "Design QA feedback"
### Initial design QA for https://healthreport.staging.wpengine.com/

#### Analytics
- [x] Add google analytics

#### 404
- [x] Add a 404 page: comp (also in Zeplin)
![404 2x](https://user-images.githubusercontent.com/1068783/28039794-5f83b35c-6578-11e7-997f-e976a08abaa3.jpg)
PNG asset:
![404](https://user-images.githubusercontent.com/1068783/28039815-6806395a-6578-11e7-94a6-c92f53f9310d.png)

###

[2017-07-10 22:54] kristinashu commented on #2
### Hypothesis side icons
- [x] Purple and black in icons look very light, can they be darker?
Screen cap from staging:
<img width="70" alt="screen shot 2017-07-10 at 3 51 47 pm" src="https://user-images.githubusercontent.com/1068783/28043660-bfcc71e0-6587-11e7-8e36-f21cc312bf56.png">

[2017-07-10 23:08] kristinashu opened #3 "Review and add content to site"
@samanthaburton @Solanasaurus @kaodro exciting news! @cadecairos and @mzanni have the site up on staging https://healthreport.staging.wpengine.com/

It is ready for you to review. While reviewing the site, please keep in mind I've already given [some feedback](https://github.com/mozilla/ihr-landing-site/issues/2) which Mike is working on now. I'm also working on a more thorough [quality assurance

[2017-07-11 14:03] cadecairos commented on #3
Yes we can add content to the new site.

[2017-07-11 14:17] kaodro commented on #3
Great!!
We will review the website soon and then I will start adding content. Namely:

1) Existing blogposts:
How would you measure the health of the Internet?
What you said about Mozilla’s Internet Health Report
Step into the “Internet Health Clinic” @ re:publica 17
Digital Citizens, Let’s Talk About Internet Health
2) Deep dive: Voice Enabled Internet (forthcoming in August)
3) And the Indicator

[2017-07-11 14:17] cadecairos commented on #3
I've sent @samanthaburton and @kaodro invites to the new blog on the network. @solanasaurus is already a network admin and can access the site. (remember, it's on the staging site, which is a copy of production, so credentials and such are all the same.

[2017-07-11 14:19] cadecairos commented on #3
This is tricky - have we done any translations on production in the last three weeks? If we translate on staging, I'll have to overwrite the translations tables in the production database when we push the new site to production, and this will overwrite all changes made there.

[2017-07-11 14:25] kaodro commented on #3
Afaik we didn't do any translations in the last 3 weeks. What do you suggest to make it less tricky? Would pushing the new site to production first and adding the translations later (directly in production?) help?

[2017-07-11 14:34] cadecairos commented on #3
That depends on if we need to make changes to production before we push the new site out. If we don't make any changes, we can leave things as they are right now and safely deploy it when the time comes.

(The reason this is an issue is because both sites share database tables for their translations, while the sites themselves don't share database tables, so we can push the new site without affect

[2017-07-11 15:08] kristinashu commented on #2
Awesome! Yeah, logo hover state can just be opacity change like the menu items.

[2017-07-11 20:18] kristinashu commented on #2
#### Hover states
- [x] Add opacity change on all footer links
- [x] Blue CTA buttons turn #22A1FF on hover
- [x] Purple tags turn #8B90E2 on hover
- [x] Blog filters: Add opacity change
- [x] Blog detail: Opacity change to social share icons
- [x] All underlined links turn blue on hover (both text and underline)

#### Hypothesis
- [x] Button icons don't match button (can keep the order they have,

[2017-07-11 21:04] kristinashu commented on #2
### Few things on my iPhone (consistent in FF, Chrome and Safari):

### Language picker
- [x] Language picker is sticky, can it just stay at the top?
Screen cap from staging:
<img width="425" alt="screen shot 2017-07-11 at 1 57 56 pm" src="https://user-images.githubusercontent.com/1068783/28090426-0e4247d2-6641-11e7-864e-cf3070059dc6.png">

### Newsletter signup
- [x] Can the checkbox be on the sa

[2017-07-11 22:06] kristinashu commented on #2
### Share icons on mobile
- [x] Looks like the icons disappear at narrow widths, they should be at the bottom of the post
Comp:

<img width="314" alt="screen shot 2017-07-11 at 3 04 47 pm" src="https://user-images.githubusercontent.com/1068783/28093014-6d14fe86-664a-11e7-8bfc-a32155630993.png">

[2017-07-11 23:37] kristinashu commented on #2
### 404 page image
- [x] Image is missing
Screen cap from staging:
<img width="1378" alt="screen shot 2017-07-11 at 4 35 28 pm" src="https://user-images.githubusercontent.com/1068783/28095410-242e06ce-6657-11e7-9e35-cca44cd0688e.png">

[2017-07-12 10:53] Solanasaurus commented on #3
I believe the German About page on the production site is more recent than the one on staging (some grammar changes). That's an example of something we would have to bring in line before we push any translations from staging, correct? I think there are only a couple of other things.

I'm surprised the translation database is connected across all sites!

[2017-07-12 18:24] kaodro commented on #3
FYI, the content to be added to the site is here: https://docs.google.com/document/d/13m7VdEtDs80rNn6_U07nPsn4iN7zC3rBPvM6O1OkR8o/edit. Once I start adding tomorrow I will mark how far I came.

[2017-07-12 18:32] kristinashu opened #4 "WP admin QA and bugs"
### Broken link URL
- [x] I updated the two feature boxes in admin view but on the staging site, the blue button links both just go to https://healthreport.staging.wpengine.com/ (they should go to external links). - this is also happening on the about page achieved report link

Admin view:
<img width="422" alt="screen shot 2017-07-12 at 11 30 28 am" src="https://user-images.githubusercontent.com/1

[2017-07-12 18:40] kristinashu commented on #4
### Capitalize Blog Filter
- [x] Capitalize "R" in "Most Recent"

~~### Reorder blog categories~~
~~- [ ] Is it possible to reorder the blog post categories?~~
~~- [ ] Can you hind/delete "Uncategorized"?~~

~~Admin view:~~
<img width="685" alt="screen shot 2017-07-12 at 11 38 39 am" src="https://user-images.githubusercontent.com/1068783/28134092-c6bfaa60-66f6-11e7-93ae-09684d901fed.png">

~~Shoul

[2017-07-12 18:45] kristinashu commented on #2
### Newsletter sign up copy:
- [x] Update to new copy:

Title: Keep me updated
Body: Receive email about this project and Mozilla.
(same copy for checkbox)
Button: Sign up

[2017-07-12 20:00] kristinashu commented on #4
### Reduce character count for featured blog post
- [x] Layout breaks when there is a lot of body copy

-mz: added an excerpt limit, but if you use the excerpt field you can customize the length without the '...Continue' being added. (I could also change the way it cuts off for you too)

Screen cap from staging:
<img width="953" alt="image" src="https://user-images.githubusercontent.com/1068783/28

[2017-07-12 20:44] samanthaburton commented on #3
Hi folks! Thanks for the great work on this site, it's looking fantastic. Just a few small comments from my side:

- [ ] On the landing page, the link to the Internet Health Report v0.1 (both the image & 'read more' graphic) is broken. I'm not sure if this is a bug, or if it just hasn't been added yet!
- [ ] On the blog page, the list of categories is a bit hard to read -- would we be able to orga

[2017-07-12 20:48] kristinashu commented on #3
Excellent! The first two are already filed in https://github.com/mozilla/ihr-landing-site/issues/4 and the third one can easily be updated through the WP admin!

[2017-07-12 20:53] samanthaburton commented on #3
//facepalm// Sorry I missed them there! But yay for all the bases being covered? :)

[2017-07-12 21:12] kristinashu commented on #3
@kaodro I've update/added all the content from that word doc. You will just need to add the correct Tags + Categories to the blog posts and updates based on Sam's comments in the word doc.

[2017-07-12 21:19] kaodro commented on #3
@kristinashu wow, that was fast (I shouldn't have raised this issue at all, bad time estimation), thanks so much for doing this! I will finish it up tomorrow and will also add my review if I find any bugs.

[2017-07-12 22:08] kristinashu commented on #2
### Hide blog page load more button
- [x] Can the load more button only appear when there are more posts to load

Screen cap from staging:
<img width="1091" alt="screen shot 2017-07-12 at 2 04 09 pm" src="https://user-images.githubusercontent.com/1068783/28141973-c600c524-6713-11e7-957f-a11b4c029a2f.png">

[2017-07-13 15:12] kaodro commented on #3
@kristinashu @Solanasaurus Here is what I did:

1) I added tags (we discussed with Solana and introduced a generic tag "internet health" for generic articles). The categories issue @samanthaburton reported seems resolved: we only have 3 categories and the other (internet issues names) are tags that serve us internally to filter posts but do not appear on the website. I also renamed "Uncategorized"

[2017-07-13 15:33] kaodro commented on #3
@cadecairos Related to the translation issue: I remembered now that I actually made changes to translated versions 6 days ago (you can see it in the "simple history" plugin) in production but they were very minor (I updated links) so I could do them to staging to. Would that help the situation for now? (I am planning to work with translators in the next 3 weeks and would like them to work directly

[2017-07-13 17:08] kristinashu commented on #4
### Remove line around blog images
- [x] Images withing the blog post have a line around it and the caption, please remove

E.g. https://healthreport.staging.wpengine.com/2017/01/19/digital-citizens-lets-talk-about-internet-health/
<img width="362" alt="screen shot 2017-07-13 at 10 07 24 am" src="https://user-images.githubusercontent.com/1068783/28178389-21dd99e0-67b3-11e7-8717-3200cb8c7e9e.png">

[2017-07-13 17:16] kristinashu opened #5 "Design updates to site"
### Update image:
- [x] Update teaser image on the homepage for the Report v0.1 into something matching the colors of the report

[2017-07-13 17:21] kristinashu commented on #3
Excellent @kaodro! Here's some follow up:

Update in the bug ticket https://github.com/mozilla/ihr-landing-site/issues/4#issuecomment-314859809

Opened a design ticket for this #5

This is filed here https://github.com/mozilla/ihr-landing-site/issues/4#issuecomment-314880104

This is filed here https://github.com/mozilla/ihr-landing-site/issues/4#issuecomment-315141706

This is part of the QA chec

[2017-07-13 17:26] kristinashu opened #6 "QA design checklist"
### Pre-launch checklist for design QA:

- [x] Staging: https://healthreport.staging.wpengine.com/ (timeframe July 10-13)
- [x] Production (need to add URL) (timeframe Aug)

### Check on latest version of (marked with *)
- [x] Firefox for Mac
- [x] Chrome for Mac
- [x] Safari for Mac
- [x] Opera for Mac
- [ ] Firefox for Windows
- [ ] Chrome for Windows
- [ ] Safari for Windows
- [ ] Microsoft Edg

[2017-07-13 17:33] kristinashu commented on #1
Excellent!

I've put this into a ticket to start checking off https://github.com/mozilla/ihr-landing-site/issues/6 and opened a ticket in the design repo to make a more generic checklist https://github.com/MozillaFoundation/Design/issues/236

[2017-07-13 17:33] #1 closed, assigned to kristinashu

[2017-07-13 19:45] kristinashu opened #7 "Resolve staging vs production translations"
Based on https://github.com/mozilla/ihr-landing-site/issues/3

Sounds like there have been some translation updates done on production that might be erased when we push the new site live.

@cadecairos let us know if there is anything @kaodro or I can we do.

[2017-07-13 19:47] kristinashu commented on #3
Thank you everyone for the feedback and content!

Mike will be working on the finishing touches in https://github.com/mozilla/ihr-landing-site/issues/2 and https://github.com/mozilla/ihr-landing-site/issues/4

The only outstanding issue in this ticket is around the translations, so I've opened a [dedicated ticket](https://github.com/mozilla/ihr-landing-site/issues/7).

Also noting that we are fina

[2017-07-13 19:47] #3 closed, assigned to nobody

[2017-07-13 21:21] kristinashu commented on #2
### Fix accessibility problems
- [x] Only accessibility issues that came up while running https://achecker.ca/checker/index.php
<img width="989" alt="screen shot 2017-07-13 at 2 20 29 pm" src="https://user-images.githubusercontent.com/1068783/28188311-8f6cdbf6-67d6-11e7-8e3d-10436194170d.png">

[2017-07-13 21:26] kristinashu commented on #2
### Annotate icon
- [ ] While clicking on body text, the bottom icon updates to an icon of a speech bubble with quotes in it. Can this icon be solid black instead of grey?
<img width="1029" alt="screen shot 2017-07-13 at 2 24 37 pm" src="https://user-images.githubusercontent.com/1068783/28188449-1441587a-67d7-11e7-8e24-e53a86ec4475.png">

[2017-07-17 18:04] kristinashu commented on #7
On second look, Cade says it looks like the report site can continue being updated on production without problem and we can translate on staging too. So we shouldn't have any problems with translations!

[2017-07-17 18:04] #7 closed, assigned to nobody

[2017-07-17 19:30] kristinashu commented on #4
Thanks Mike, looks good!

[2017-07-17 19:30] #4 closed, assigned to mzanni

[2017-07-17 19:40] kristinashu commented on #2
Few issues carried over from https://github.com/mozilla/ihr-landing-site/issues/4:

### Broken link URL
- [x] CTA link on achieved report on [about page](https://healthreport.staging.wpengine.com/about/) doesn't match URL link in CMS

### Clickable featured blog post text
- [x] Remove "Continued" text but make excerpt text clickable (keep the "...")

[2017-07-17 19:41] kristinashu commented on #2
### Add translation picker
- [x] Add translation picker back (thanks!)

[2017-07-17 20:02] kristinashu opened #8 "Legal review of site"
I shared the site with legal expert Abigail and here is her initial feedback:

- At the bottom of the feedback form on the [Feedback page](https://healthreport.staging.wpengine.com/feedback/), could you replace the links above the "submit" button with: "Your responses are subject to the [Mozilla ToS](https://www.mozilla.org/en-US/about/legal/terms/mozilla/), [Privacy Policy](https://www.mozilla.or

[2017-07-18 10:43] kaodro commented on #8
@kristinashu
Solana is on holiday until end of August and I don't have the login to the backend of the feedback form yet. She has it though so we will change it as soon as she is back and before we officially launch (will update it here once we do). As for the permissions: yes, we do have them. These are the pictures that all the speakers uploaded directly to their re:publica profiles. Cathleen Be

[2017-07-18 18:30] kristinashu commented on #8
Sounds good, there's no big rush for this to get done.

[2017-07-20 22:58] #2 closed, assigned to mzanni

[2017-07-24 18:06] kristinashu opened #9 "Launch site Aug 9"
@kaodro's timeline from https://github.com/MozillaFoundation/mofo-devops/issues/519

July 26 - Aug 9 max. Aug 15 (exact date is being negotiated): Translation of the website on staging (Kasia)
Aug 3: Updating legal notice in feedback form (Kasia)
Approx. Aug 4 (exact date TBD by Solana): blogpost on Indicators incl. image (mozilla/internet-health-report#36) added to staging (Solana)
Approx. Aug 9

[2017-07-25 12:28] kaodro commented on #9
Update: Translations should be ready on Aug 9 at latest so we can work towards Aug 9 as launch date but let's keep Aug 15 on the back of our heads in case we are delayed for other reasons (blogpost, emailing etc.)

[2017-07-31 12:33] kaodro opened #10 "Bug: category tags show twice in some blogposts"
When I go on "Blog" and look at the blogpost, in two of them the category is displayed twice:

In "Digital Citizens, Let’s Talk About Internet Health", I see the category  "Research" twice
In "How would you measure the health of the Internet?", I see the category "Project Updates" twice

They are both correctly tagged with just one category in the backend and no other blogposts have this problem.

[2017-07-31 12:38] kaodro opened #11 "Bug: "Most recent" category doesn't separate languages and displays posts in all languages"
When I go to the "Blog" in the English version, the default "Most recent" category displays blogposts in Spanish as these were the ones most recently added.
It seems that the category doesn't differentiate between languages and displays all posts, not only English ones. The "most recent" category should display posts according the the language set.

Strangely, the problem disappears when I go on a

[2017-07-31 21:56] kristinashu commented on #11
@mzanni thinks he has fixed this one. @kaodro you will be able to see the update once Cade has the chance to update the staging site.

[2017-07-31 21:57] kristinashu commented on #10
@mzanni is looking into this but might need some files for Cade.

[2017-08-02 14:13] kaodro commented on #8
Legal notice updated.

[2017-08-02 16:45] kristinashu commented on #8
Excellent, thanks @kaodro!

@cadecairos Abigail is also wondering if the [iFrame for the Coral Feedback form](https://healthreport.staging.wpengine.com/feedback/) is hosted on a Mozilla server. Do you know?

She also wants to know if https://web.hypothes.is/ used on the [Blog pages](https://healthreport.staging.wpengine.com/2017/05/02/step-into-the-internet-health-clinic-republica-17/) has gone th

[2017-08-02 17:40] cadecairos commented on #8
I don't know much about how this form was first set up, but I think it's from an AWS S3 bucket owned by the Coral project folks.

I don't recall being asked for a risk review of hypothesis - I also don't see an open risk record for it.

[2017-08-02 17:52] kristinashu commented on #11
Thanks, looks like this has been fixed!

[2017-08-02 17:52] #11 closed, assigned to nobody

[2017-08-02 17:56] kristinashu commented on #10
Mike and Cade have fixed this!

@kaodro, I had to re-re-name "Uncategorized" to "Project Updates" but don't know the translation for it. Can you please add the translations? E.g. https://healthreport.staging.wpengine.com/es/blog/

[2017-08-02 19:34] kristinashu commented on #5
@kaodro is this what you have in mind?
![images](https://user-images.githubusercontent.com/1068783/28891243-b4ed0baa-777e-11e7-80e7-600151f5609e.jpg)

It would look like this on the site (definitely more alarming and not as nice as the graph image):
![home 2x](https://user-images.githubusercontent.com/1068783/28891242-b4eb2f92-777e-11e7-8bf4-6516bf5ccad7.jpg)

[2017-08-03 07:41] kaodro opened #12 "Remove featured box from About page"
When I go on the About page and scroll down, at the bottom I see a featured post "archive of reports" that shouldn't be visible. I wasn't able to find a way to hide it in the backend, could you help? Thanks!
@kristinashu
CC @cadecairos

Thanks!

[2017-08-03 07:43] kaodro commented on #5
@kristinashu yes, nice! approved:) I added it to the site but feel free to exchange it with a better quality image.

[2017-08-03 11:43] Solanasaurus commented on #8
I concur with Chris. I don’t think there was a formal security review for either service, perhaps because there wasn’t a “vendor” agreement for either. Sam and I didn’t know the risk/security review existed last year!

[2017-08-03 12:34] kaodro commented on #10
Thanks for fixing! I updated the categories with google translate translations and will update it later once the translators are ready.

[2017-08-03 12:34] #10 closed, assigned to nobody

[2017-08-03 14:46] kristinashu commented on #12
I deleted the archived report post from that page so the section is now hidden (but will appear again if you and content to it).

https://healthreport.staging.wpengine.com/about/

[2017-08-03 14:46] #12 closed, assigned to nobody

[2017-08-04 12:34] kaodro opened #13 "Can't save the feedback iframe in a translated page"
I created a new Spanish page for feedback as it should be renamed to "comentarios" and tried to copy the english content (which is just an iframe) and although the iframe showed up in the copy field, after saving it disappeared. The same happened when I tried to overwrite with the English content and also when I tried to enter the iframe manually.

Background: there is nothing to translate in the

[2017-08-04 15:09] kaodro commented on #13
Cade fixed it - the Content Security Policy was blocking the iframe.

[2017-08-04 15:09] #13 closed, assigned to nobody

[2017-08-04 15:56] kaodro opened #14 "Modify the page template to hide title"
On the "Feedback" page the title of the page, the word "feedback" (or in Spanish version "Comentarios") shows up above the iframe embed. Can we remove it from there?
The title of the page in backend syncs with the menu item so I can't remove it from there.

I shortly talked to cade about it and he can't help as his expertise isn't wordpress, @kristinashu can you help? Or Mike?
Thank you!

![screen

[2017-08-04 16:37] kaodro opened #15 "Navigation links in translated pages lead back to English version"
When I click on "Lee mas" (read more) in the Spanish page (https://healthreport.staging.wpengine.com/es/) I end up in the English About page instead of the Spanish one. The same happens when I go on "View all blogposts" on the Spanish page - I end up in the English page.

Thanks for solving!

@kristinashu

[2017-08-04 20:00] #5 closed, assigned to kristinashu

[2017-08-04 21:54] kristinashu commented on #15
Mike is looking into this!

[2017-08-08 09:10] kaodro commented on #9
Hey, everything is going according to plan now and we should have all the staging site translated by tomorrow afternoon European time (CEST). When/What time can we expect it to be pushed to production tomorrow (Aug 9)? I will need the new URLs for the Emailing team that will be sending a massive emailing on Aug 10. Do you expect any problems? I can stand by all the evening on Aug 9 in case somethi

[2017-08-08 11:53] kaodro opened #16 "Can't find various strings for translation in "Strings translation""
I have a weird small problem with the translations; I've been translating the strings via the plugin via "Strings translation" -> basically searching for each string of the UI I found on the website and so far I was able to find all of them except for one: "related posts". I tried direct search and related search terms and went to source code of the website with the hope to find the identifier but

[2017-08-08 17:24] kristinashu commented on #9
Just confirming the key URLs will be:
- deploy https://healthreport.staging.wpengine.com/ to https://internethealthreport.org/
- end the redirect https://internethealthreport.org/ to https://internethealthreport.org/v01/
- keep https://internethealthreport.org/v01/ as is

@kaodro are you wanting to know the URL for the indicator blog post?

[2017-08-08 18:49] kaodro commented on #9
@kristinashu that would be great, I could already submit it to Jessilyn for mailing.
I would need a new one for the following blogposts:

https://healthreport.staging.wpengine.com/2017/08/04/here-is-how-well-measure-internet-health/
https://healthreport.staging.wpengine.com/es/2017/08/04/asi-mediremos-la-salud-de-internet/
https://healthreport.staging.wpengine.com/de/2017/08/06/so-werden-wir-die-i

[2017-08-08 19:03] cadecairos commented on #9
I do expect there to be problems - WordPress multi-site installations are pretty error prone, especially when using WPEngines staging feature.

My plan for this deployment is:

1. Take a backup of production
2. Using the production push tool in WPEngine, select the tables specific to the new site and have it copy them over
3. Test test test. If something is broken, I'll roll back.

When should I d

[2017-08-08 19:09] kaodro commented on #9
@cadecairos We should be ready with all translations by 1 PM CEST = that means you could start early morning. If there will be alarming problems that would force us to postpone the launch, please let me know asap so I can let the emailing team know - they are preparing a big emailing linking to the website and blog content on it for Thursday, Aug 10.

[2017-08-08 19:16] cadecairos commented on #9
okay, Could you signal here when it's time to start the push?

[2017-08-08 20:29] kaodro commented on #16
I also can't find "comments" right under the blogpost title. I found several other "comments" but not this.
![screen shot 2017-08-08 at 10 31 25 pm](https://user-images.githubusercontent.com/22129061/29093133-09b5a818-7c89-11e7-8271-3a9df6ee3927.png)

Also can't find "Leave a reply".
![screen shot 2017-08-08 at 10 36 52 pm](https://user-images.githubusercontent.com/22129061/29093323-bd9d4a5c-7c89-

[2017-08-08 21:10] kristinashu opened #17 "Hypothesis plugin isn't working"
Clicking on "annotate" at the top of the blog post or highlighting a sentence can clicking "annoate" should open the side bar but it isn't doing anything right now (e.g. https://healthreport.staging.wpengine.com/2017/01/19/digital-citizens-lets-talk-about-internet-health/).

This used to work but doesn't anymore.

@cadecairos is this something you are able to fix or will Mike need to do it?

cc @k

[2017-08-08 21:23] cadecairos commented on #17
This is a Content Security Policy issue - I will have to audit the site to whitelist various URLs and resources in our policy

[2017-08-08 21:44] cadecairos commented on #17
OK I think I've got everything that we load listed in the Content Security Policy now.

[2017-08-08 21:48] kristinashu commented on #17
Excellent, thank you!

[2017-08-08 21:48] #17 closed, assigned to nobody

[2017-08-08 22:07] kristinashu opened #18 "Clicking "annotations" hides highlights"
When I click "annotate" at the top of a blog post, the side bar opens but also hides the highlights (crossed out eye icon). The highlight view should be visible unless I click on the eye icon.

cc @mzanni

[2017-08-09 10:05] kaodro commented on #9
Hey Cade, so far all is on track, I will let you know once all is ready to push in 2/3h. Just wanted to warn you that cause of the emailing (1,3 million people) we might receive lots of traffic tomorrow - is the website set up to handle that?
But no worries, ff anything goes wrong today, we are prepared to postpone the emailing to next week.
One more question: Mike will be fixing some minor bugs f

[2017-08-09 11:48] kaodro opened #19 "Sign-up form shows error (sometimes)"
When I try to sign-up for updates I get an error, in all languages.
![screen shot 2017-08-09 at 1 33 36 pm](https://user-images.githubusercontent.com/22129061/29119771-bc1ef346-7d07-11e7-8bd6-040edd3b8099.png)

Then it works for a moment and then it doesn't work again. If I try to subscribe to another language with the same email address, I don't get a confirmation email (not so critical cause pro

[2017-08-09 13:48] kaodro commented on #9
@cadecairos the site is ready to be pushed! I will be on standby to test and also waiting for the final URLs to give to Jessilyn for the Emailing. Please keep me updated how it goes so I can flag her asap if we need to postpone. Thanks!
cc/ @kristinashu @solanasaurus

[2017-08-09 13:54] cadecairos commented on #19
This worked fine for me in all languages. If you're continually submitting the same email address, maybe the email signup endpoint is rejecting it due to rate limiting?

[2017-08-09 13:55] cadecairos commented on #9
OK, I'm going to take backups of staging and production and get started. Are we certain no one is working on either staging or production sites right now? If they are, I can't guarantee their changes will be persisted if they make updates while I work on pushing the site.

[2017-08-09 13:56] kaodro commented on #19
OK, if you tested it recently then I guess it has to be it. Is there a way to verify it again without submitting the same emails (I only have 3, all used)

[2017-08-09 13:59] kaodro commented on #9
I just sent out an email to all involved to not work in wordpress cause you will be pushing it. Can you just quickly answer the questions from above? Crossing fingers for a smooth push!

[2017-08-09 14:01] cadecairos commented on #9
yes, WPEngine handles scaling for us and we should be fine handling large amounts of traffic.

I can deploy the theme update directly to Production.

yes, once the site is live, we don't need to use staging for it anymore.

[2017-08-09 14:03] cadecairos commented on #19
if you use `example.com` email addresses, the newsletter signup will know you're just testing that form submissions are working, and it should not rate limit you.

If that doesn't fix it, you might be seeing an error caused by a security/privacy plugin.

[2017-08-09 14:08] kaodro commented on #19
It worked with the example.com email, I got the right message. I assume the emails get send correctly, too. Thanks!

[2017-08-09 15:16] cadecairos commented on #9
Updating this issue:

The new site is live at https://internethealthreport.org
v0.1 of the report continues to be available at https://internethealthreport.org/v01

Everything went over without much trouble - the only issues were that I needed to add the CDN url to the new landing site's Content Security Policy, and the new site structure changed the expected upload locations of files for the v01

[2017-08-09 18:29] kristinashu commented on #9
Awesome job everyone, thank you!

[2017-08-09 18:32] #9 closed, assigned to nobody

[2017-08-09 18:34] kristinashu commented on #19
@vojtechmzl should be able to confirm that it is all working?

[2017-08-09 19:25] vojtechsedlak commented on #19
Yup, everything seems to be working fine in terms of data flow. The only tweak that would be great to add is a Google Analytics event that gets triggered when someone submits the form, so that we can measure conversions on the site. Let me know if I can help with that in any way. Thanks!

[2017-08-10 19:31] #6 closed, assigned to kristinashu

[2017-08-10 21:55] kristinashu opened #20 "Comment captcha isn't working"
@Solanasaurus noticed the captcha on the commenting plugin doesn't work when the user is not on a mozilla network.

<img width="426" alt="screen shot 2017-08-10 at 2 53 22 pm" src="https://user-images.githubusercontent.com/1068783/29193799-b3cac312-7ddb-11e7-8e3f-3a4e5dc734fe.png">

@cadecairos could this be a security thing on our end or @mzanni is this an issue with the wordpress plugin?

[2017-08-10 21:57] kristinashu commented on #20
The image shows that the captcha I entered isn't the same but that's only because it loaded a new captcha with the error and kept what I had previously entered!

[2017-08-11 04:36] mzanni commented on #16
I can't find a way to translate the 'leave a reply'
it seems to be an issue with wpdiscuz not creating it as a translatable field, kind of a plugin limitation. it also says it's not wpml compatible. I think I'd have to edit the plugin to fix it and then my changes would be gone if it ever gets upgraded. thoughts?

these two errors are messages from the browser: if you have a localized version of F

[2017-08-11 04:39] mzanni commented on #16
the search had to be fixed to return the proper language for everything including the error message, and also added the 'related posts' as a translatable string

[2017-08-11 13:11] Solanasaurus commented on #20
I just want to emphasize that this is urgent since people aren't able to comment event though we ask them for feedback! The comments worked on v.01 but have had the same problem more than once. Resetting the captcha settings in the plugin isn't working as I thought it did the previous time.

PHP problem or something else? That's what Google suggested. Help!

[2017-08-11 13:15] Solanasaurus opened #21 "Redirect old feedback page link to new website"
We removed the feedback page on v.01 so there would only be one feedback page on the main website. However, we forgot that external links to the old page https://internethealthreport.org/v01/your-feedback/ will need to be redirected to https://internethealthreport.org/feedback/

@cadecairos is that something you can help with?
Cc: @mzanni @kristinashu @kaodro

[2017-08-11 13:47] cadecairos commented on #20
OK I think I got it working, can you confirm?

I switched the "captcha generation type" to "use file system" and purged all the caches.

[2017-08-11 13:47] cadecairos commented on #21
We can add this redirect in WPEngine

[2017-08-11 13:52] Solanasaurus commented on #20
Hallelujah it works, now it says my comment is awaiting moderation. Thanks Chris! I don’t understand why the caches would make a difference?

[2017-08-11 13:53] cadecairos commented on #21
Redirect is now in place: https://internethealthreport.org/v01/your-feedback/

[code]

[2017-08-11 13:53] #21 closed, assigned to cadecairos

[2017-08-11 13:55] cadecairos commented on #20
WPDiscuz probably injects client side scripts into our pages, so if we change settings on the dashboard, we need to purge the CDN caches so that changes can be reflected in peoples web browsers.

[2017-08-11 15:48] kristinashu commented on #20
It's also now working for me! Thank you!

[2017-08-11 15:48] #20 closed, assigned to nobody

[2017-08-11 16:50] kristinashu commented on #16
I don't think we should alter the wpdiscuz plugin since if might cause more problems than it will solve. @kaodro are you ok to have 'leave a reply' in English?

Thanks for all those other fixes Mike!

[2017-08-11 16:52] Mozinet-fr opened #22 "Add a Twitter account under the Tweet button in the blog"
When clicking on the Tweet button in a blogpost, there is no Twitter account added along with the article title and URL in the sharing window which is opened. If the team doesn't have its own account, it would be interesting to add "@mozilla".

cc @TheoChevalier

[2017-08-11 16:55] Mozinet-fr opened #23 "Add Ihr blog on Planet Mozilla (projects)"
The blog is not in referenced in https://planet.mozilla.org/projects/

cc @TheoChevalier

[2017-08-11 16:56] kristinashu commented on #19
Thanks @vojtechmzl! How can we add the analytic event? Do you provide the script and then an engineer adds it in?

[2017-08-11 17:27] mzanni commented on #15
I had added a fix for this a while ago. I'm hoping it works and that Chris just didn't get my last update.
it will be included with my files for some other translation bug fixes I'll send him shortly

[2017-08-11 17:37] mzanni commented on #14
I've added a new template to select for the pages called 'No Title Template'

[2017-08-11 17:39] kristinashu commented on #18
A little more context...

Before clicking "annotate" at the top (eye is side bar is on):
<img width="844" alt="screen shot 2017-08-11 at 10 34 16 am" src="https://user-images.githubusercontent.com/1068783/29224825-bf3b9e74-7e80-11e7-9f07-7b07ef41ea3f.png">

After clicking "annoate" at the top, side bar opens (good) but eye is closed out (bad):
<img width="831" alt="screen shot 2017-08-11 at 10 34

[2017-08-11 17:47] kristinashu commented on #18
Mike has fixed this and should be visible in the next push.

[2017-08-14 13:55] kaodro commented on #16
@mzanni thanks so much! And yes, we are ok with having "leave a reply" in English, no problem.
/cc @kristinashu

[2017-08-14 17:09] vojtechsedlak commented on #19
Below is the code that should be triggered with the form submission.

It can either be added to the signup button:

`onclick="ga('send', 'event', 'Signup', 'Form Submitted', 'Internet Health Report')"`

Or it can be added to the javascript:

`$('#newsletter_submit).onClick = ga('send', 'event', 'Signup', 'Form Submitted', 'Internet Health Report');`

[2017-08-14 18:16] #18 closed, assigned to nobody

[2017-08-14 18:20] kristinashu commented on #19
Mike has added this script in and it's now of production.

[2017-08-14 18:20] #19 closed, assigned to nobody

[2017-08-14 18:35] kristinashu commented on #14
Prefect! The title is now hidden.

[2017-08-14 18:35] #14 closed, assigned to nobody

[2017-08-14 18:40] kristinashu commented on #16
@kaodro these updates are now live so you should be able to go in and translate "comments" and "leave a reply".

Once you have done that then we can close this ticket.

[2017-08-14 18:41] kristinashu commented on #15
Thanks! This is now working on production.

[2017-08-14 18:41] #15 closed, assigned to nobody

[2017-08-14 19:01] kaodro commented on #16
Great, worked. I translated comments, 1 comment, #comments and "related posts" and the search works now, too. Awesome!

[2017-08-14 19:02] #16 closed, assigned to nobody

[2017-08-14 19:07] kristinashu commented on #8
@cadecairos I've opened a ticket in bugzilla for a security review of Hypothesis. Could you please add any info you think might be helpful https://bugzilla.mozilla.org/show_bug.cgi?id=1390250 ? I've never filed one of these before.

@Solanasaurus Abigail said "I'd like to understand how IHR went about obtaining the bio pics permissions. We're (slowly) starting a project to get some kind of consist

[2017-08-14 19:11] kaodro commented on #8
@kristinashu if that is of any help, I posted Cathleen's response on how they got the permission in one of the above comments (pict uploaded to rp, Cathleen emailed them). But maybe Solana has sth to add to it.

[2017-08-14 19:19] kristinashu commented on #8
I did pass that info on Abigail but she is still curious. Solana, if you have anything to add then let me know but otherwise I can just ask Abigail to follow up with Cathleen directly for more info. I think she is just gathering info to improve Mozilla's general process.

[2017-08-14 19:49] Solanasaurus commented on #8
Hi @kristinashu Do you mean the photos in the articles? We just asked people for each of them and under what license they were willing to share. It’s not the same for all. Got a couple of permissions from flickr too. Happy to explain.

Also: I don’t have access to the Hypothes.is security bug but the developer I have been in touch with (and knows about our project) is named Rob Knight robertknight

[2017-08-14 19:52] kristinashu commented on #8
Thanks Solana, I'll cc you in the email but hopefully that is enough info.

Mozilla's security team have said that a security review is not necessary so hopefully legal is ok with that too!

[2017-08-15 17:09] kristinashu commented on #8
Yay! We're all good!

[2017-08-15 17:09] #8 closed, assigned to nobody

[2017-11-30 17:40] kaodro opened #24 "The Feedback form (iframe) displays an error on the blog website"
See:
https://internethealthreport.org/feedback/

[screen shot 2017-11-30 at 6 37 32 pm](https://user-images.githubusercontent.com/22129061/33445604-9c86656a-d5fd-11e7-816d-f294acc55d59.png)

@cadecairos

[2017-11-30 18:25] cadecairos commented on #24
@kaodro Wasn't this resource created for us by someone on the Coral Project? Have they accidentally deleted it?

This bucket did indeed not exist anymore, and I've gone ahead and created it so that we're not vulnerable to getting taken over by a bad actor. Not sure what to put in its place... The error should now say access denied.

[2017-11-30 19:34] alanmoo commented on #24
Should we take the feedback link out of the nav for the time being so it doesn't show an error?

[2017-11-30 21:56] cadecairos commented on #24
I've commented out the embed, and added "Feedback has been  temporarily disabled" to the page.

[2017-12-01 14:36] kaodro commented on #24
Thanks @cadecairos and @alanmoo
@jtnelson was our contact regarding the Coral form - Jeff, can you help or advice here on what happened? Thanks!

[2018-08-02 14:38] kaodro opened #25 "Create graphics for IHR Call for Ideas"
Hi @beccaklam
as discussed today we need graphics in the IHR aesthetics, with no text (they need to work in 4 languages) but something different from the standard emoji picture.

Details and copy for Call for Ideas: https://docs.google.com/document/d/1ZoljPpExR0n-IhX4UNut2-8S8qcEFk5_4UkELdAqveY/edit#

Graphics we need:
Banner for the website: 900x 506
Square graphic for instagram:  1080 x 1080
Ban

[2018-08-09 02:57] beccaklam commented on #25
Hi @kaodro, here's what I'm thinking so far for this graphic:
![artboard 1](https://user-images.githubusercontent.com/20977376/43875409-5193150e-9b5e-11e8-9da3-8c76b15d9d98.jpg)
It's still a work in progress but let me know if you have any feedback. Thanks!

[2018-08-09 11:03] kaodro commented on #25
hey @beccaklam both me and Solana like it, great direction!

[2018-08-09 14:35] kaodro commented on #25
@beccaklam we discussed this a little bit more and we would love to also have one version with a dinosaur or a cat or something fun. E.g. you could just paste a dinosaur on top of this beautiful background with a speech bubble saying "Internet Health Report Call for Ideas". In this case we would translate it so I would send you the translation to create 4 files.

E.g. here is a dinosaurs we typica

[2018-08-09 17:49] beccaklam commented on #25
@kaodro Haha ok I'll see what I can do!

[2018-08-09 21:07] beccaklam commented on #25
Hi @kaodro here is a redpen with both versions of the design (with the dino and without): https://redpen.io/p/gka6009d0942feb584 Let me know your thoughts/feedback. I can get you the final files tomorrow morning.

[2018-08-10 09:33] Solanasaurus commented on #25
hi @beccaklam Kasia is offline today, but I think the dino is great. Thanks so much. Very classy touch with the black and white! Could you please change the text so it says "Submit your ideas for the next Internet Health Report". And also please give us some versions with speech bubbles but without text so we can add variations of text ourselves in different languages.

This background is perfect

[2018-08-10 15:56] beccaklam commented on #25
Thanks @Solanasaurus! Those are so great :) I incorporated some of them into the design. Here is the zip file with all the final graphics:
[ihr-call-for-ideas-graphics.zip](https://github.com/mozilla/ihr-landing-site/files/2278588/ihr-call-for-ideas-graphics.zip) Feel free to use whatever design works best for your purposes!
Here are some examples:
![facebook-cat](https://user-images.githubusercon

[2018-08-13 09:29] kaodro commented on #25
Awesomeness!!!

[2018-08-13 17:19] xmatthewx commented on #25
😯 🤣 🤪

[2018-08-16 11:04] kaodro commented on #25
@beccaklam these are great, already using it for promo:) The only thing we miss now is the Callout box Emailing: https://drive.google.com/file/d/0Bzf0O6d7z8GGTDg1NENvU3JGUG8/view
For this one we would take a clean one (just background) and one with dinos head (to try how it looks:). Thanks!

[2018-08-16 15:19] beccaklam commented on #25
Hi @kaodro so I'm pretty sure the email box size is 200x200 so I exported at 400x400 for higher res screens. Let me know if you need anything else or if Will says he needs a different format:
![email-bg](https://user-images.githubusercontent.com/20977376/44217697-12cce280-a146-11e8-986c-5a08beca1205.jpg)
![email-dino-2](https://user-images.githubusercontent.com/20977376/44217698-12cce280-a146-11e8

[2018-08-16 15:26] beccaklam commented on #25
Hi @kaodro, so I'm pretty sure the dimensions for the email graphic are 200x200 so I exported at 2x for higher res screens. Let me know if Will needs something different. I also did both dinos since I didn't know which dino you wanted :)
![email-bg 2x](https://user-images.githubusercontent.com/20977376/44218163-1a40bb80-a147-11e8-86a9-e09f1093a41c.jpg)
![email-dino-2 2x](https://user-images.github

[2018-12-12 19:36] beccaklam commented on #25
Going to close this ticket for now, reopen if needed!

[2018-12-12 19:36] #25 closed, assigned to beccaklam

[2019-02-18 01:46] ghost opened #26 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/ihr-landing-site/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacem

[2019-03-30 06:16] ghost opened #27 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2022-01-21 18:46] #27 closed, assigned to nobody

[2022-01-21 18:46] #24 closed, assigned to nobody

[2022-01-21 18:46] #26 closed, assigned to nobody

[2022-01-21 18:46] #23 closed, assigned to nobody

[2022-01-21 18:46] #22 closed, assigned to nobody